/*CONTACT*/
#contact {
  width: 100%;
  height: 99vh;
  left: 0;
  background-color: #344a53;
  border-top: 2px solid #00c9f9;
  align-items: center;
}
.phot img {
  position: absolute;
  width: 18%;
  min-width: 100px;
  margin: 8% 2%;
}

/*CONCTACT BUSINESS CARD*/

.card {
  width: 25%;
  min-width: 280px;
  height: 17vw;
  min-height: 200px;
  margin-top: 2%;
}

.middle {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.back,
.front {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.back {
  background: #e6f4f1;
  transform: rotateX(180deg);
}

.front {
  background: #2f4858;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(0deg);
}

.card:hover .front {
  transform: rotateX(180deg);
}

.card:hover .back {
  transform: rotateX(0deg);
}

/*front side style*/
.front {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(90deg, #00c9f9, #00fe2e);
}
.front span img {
  position: relative;
  width: 50%;
  left: 25%;
}

/*back side style*/
.back {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  padding-top: 2%;
  border-image-source: linear-gradient(90deg, #00c9f9, #00fe2e);
}

.back h2 {
  color: #344a53;
  margin-left: 5%;
  font-size: 2.2vw;
}

.back span {
  background: #00c9f9;
  padding: 4px 5px 4px 1px;
  display: inline-block;
  color: #e6f4f1;
  font-size: 1.5vw;
  margin-left: 5%;
  margin-bottom: 20px;
}

.back .contact-info li {
  margin: 3% 5%;
  display: flex;
  align-items: center;
  color: #344a53;
  font-size: 1.3vw;
}
.back .contact-info li i {
  width: 22px;
  max-width: 25px;
  height: 20px;
  font-size: 1.3vw;
  background: #00c9f9;
  color: #e6f4f1;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

/*Hegagons*/

#card-hexagons1 {
  position: absolute;
  width: 10%;
  left: 70%;
  top: 20%;
}

#card-hexagons2 {
  position: absolute;
  width: 10%;
  left: 80%;
  top: 50%;
}

#card-hexagons3 {
  position: absolute;
  width: 10%;
  left: 50%;
  margin-top: -2%;
}

/*Arrow*/
.arrow {
  position: relative;
  float: left;
  top: 55%;
  margin-left: 28vw;
  width: 8%;
  /*background-color: blue;*/
}

@media screen and (max-width: 1000px) {
  .arrow {
    margin-left: 27%;
  }
}
@media screen and (max-width: 900px) {
  .arrow {
    margin-left: 22%;
  }
}

@media screen and (max-width: 800px) {
  .arrow {
    margin-left: 22%;
  }
  #card-hexagons3 {
    margin-top: -3%;
  }
  .back h2 {
    font-size: 3vw;
    margin-left: 3%;
  }
  .back span {
    font-size: 2.5vw;
    margin-left: 3%;
  }
  .back .contact-info li {
    font-size: 2vw;
    margin-left: 3%;
  }
  /* .arrow {
    display: none;
  }*/
}
@media screen and (max-width: 700px) {
  .arrow {
    margin-left: 17%;
  }
}
@media screen and (max-width: 500px) {
  .card .front {
    transform: rotateX(180deg);
  }

  .card .back {
    transform: rotateX(0deg);
  }
  #card-hexagons3 {
    margin-top: -3%;
  }
  .back h2 {
    font-size: 4.5vw;
    margin-left: 3%;
  }
  .back span {
    font-size: 3.5vw;
    margin-left: 3%;
  }
  .back .contact-info li {
    font-size: 3vw;
    margin-left: 3%;
  }
  .arrow {
    display: none;
  }
}
