
/*EXPLORE BUTTON*/

.explorebt {   
    position: relative;
    text-align: center; 
    top: 32%;         
}

.explore {   
    position: relative; 
    justify-content: center;    
    width: 200px;
    height: 50px;
    font-family: AvertaStdCY,sans-serif;
    font-style: italic;
    font-size: 26px;
    overflow: hidden;
    outline: none;    
}


/*up*/
.explore .lineu { 
    position: absolute;
    left: -4px;
    top: 0;
    width: 4px;
    height: 3px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);
    transition: all 1s ease;
}
/*right*/
.explore .liner {
    position: absolute;
    right: 0;
    top: -3px;
    width: 4px;
    height: 3px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);
    transition: all 1s ease;
}
/*down*/
.explore .lined {
    position: absolute;
    right: -4px;
    bottom: 0;
    width: 4px;
    height: 3px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);
    transition: all 1s ease;
}
/*left*/
.explore .linel{
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 4px;
    height: 3px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);
    transition: all 1s ease;
}

.explore:hover .lineu {
    width: calc( 100% + 3px);
}
.explore:hover .liner {
    height:  calc( 100% + 3px);
}
.explore:hover .lined {
    width: calc( 100% + 3px);
}
.explore:hover .linel {
    height:  calc( 100% + 3px);
}