/*EXPLORE BUTTON*/

.explorebt {
  position: relative;
  text-align: center;
  padding-top: 10%;
}

.explore {
  position: relative;
  justify-content: center;
  width: 40%;
  min-width: 120px;
  height: 100%;
  min-height: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 22px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  color: #344a53;
  border-radius: 20px;
  background-color: #e6f4f1;
  border: 1px solid #00c9f9;
  box-shadow: 0 0 10px #00fe23;
  animation: glowUp 4s ease-in 0s infinite;
}

@keyframes glowUp {
  from {
    box-shadow: 0 0 5px #00c9f9;
  }
  50% {
    box-shadow: 0 0 20px #00fe23;
  }
  80% {
    box-shadow: 0 0 12px #00c9f9;
  }
  90% {
    box-shadow: 0 0 9px #00fe23;
  }
  to {
    box-shadow: 0 0 5px #00c9f9;
  }
}
