

/*HEADER AND MENU*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 5vw;
  background-color: #344a53;
  border-bottom: 2px solid #00c9f9;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  header {
    height: 8vw;
  }
}

.image {
  /*logo image*/
  height: 95%;
  padding: 0.2% 2%;
  display: inline-block;
}

#menu {
  position: absolute;
  width: 296px;
  height: 419px;
  right: 0;
  top: 0;
  overflow: visible;  
}

#hamburger {
  position: absolute;
  display: block;
  width: 10%;
  z-index: 1;
  right: 0;
  margin: 1.8vw 2vw;
  overflow: visible;
  -webkit-user-select: none;
  user-select: none;    
}
#hamburger input {
  display: block;
  width: 100%;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#hamburger span {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background: -webkit-linear-gradient(120deg, #00c9f9, #00fe2e);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#hamburger span:first-child {
  transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, 1px);
  background: -webkit-linear-gradient(120deg, #00c9f9, #00fe2e);
}

#hamburger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0, 2);
}

#hamburger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu_items {
  position: absolute;
  width: 310px;
  height: 350px;
  margin: -100px 2000px;
  padding: 40px;
  padding-top: 125px;
  background: rgb(52, 74, 83, 0.9);
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu_items li {
  width: 14vw;  
  list-style-type: none;  
  padding: 5% 0;
  justify-items: center;
  font-size: 1.6vw;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;   
}
#menu_items a {
  text-decoration: none;
  color: #e6f4f1;
  font-weight: 500;
}
#menu_items a:hover{
  background: -webkit-linear-gradient(#00c9f9, #00fe23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hamburger input:checked ~ #menu_items {
  transform: translateX(-2200px);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@media screen and (max-width: 800px) {
  #menu_items li {
    width: 23vw;
    font-size: 2vw;
  }
  #menu_items {
    left: -80%;
  }
  #hamburger span {
    width: 25px;
    height: 2px;
  }
  #hamburger{
    margin: 3vw;
  }
}

@media screen and (max-width: 500px) {
  #menu_items {
    top: 30%;
    left: -50%;
  }
  #menu_items li{
    font-size: 4vw;
  }
  #hamburger{
    margin: 2vw 3vw;
  }
}
