                         /*HOME PAGE ANIMATION*/

.hexagons {
    position: absolute;    
    width: 99%;
    height: 930px;      
    /* border: 2px solid red;  will leave*/
    overflow: hidden;
}

/* BIG HEXAGONS*/

.hexagonbig1 {   
    position: absolute;     
    left: 5%;
    top: 20%;
    width:150px;
    height: 94px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);    
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 10px 10px;
    animation: rotateRight 10s infinite linear;
    display: block;
    
}
.hexagonbig1:hover{
    animation: rotateLeft 10s infinite linear; 
}
.hexagonbig1::before,
.hexagonbig1::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: inherit; 
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    transition: 0.2s;
   
}
.hexagonbig1::before {
    transform: rotate(60deg);
}
.hexagonbig1::after {
    transform: rotate(-60deg);
}


/*MEDIUM HEXAGONS*/
.hexagonmed1 {
    position: absolute;
    top: 30%;
    left: 70%;    
    width:80px;
    height: 54px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);    
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 10px 10px;
    animation: rotateRight 10s infinite linear;
}
.hexagonmed1:hover{
    animation: rotateLeft 10s infinite linear; 
}
.hexagonmed1::before,
.hexagonmed1::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: inherit;  
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}
.hexagonmed1::before {
    transform: rotate(60deg);
}
.hexagonmed1::after {
    transform: rotate(-60deg);
}

/*______3_______*/
.hexagonmed3 {
    position: absolute;
    top: 10%;
    left: 90%;    
    width:80px;
    height: 54px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);    
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 10px 10px;
    animation: rotateRight 10s infinite linear;
}
.hexagonmed3:hover{
    animation: rotateLeft 10s infinite linear; 
}
.hexagonmed3::before,
.hexagonmed3::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: inherit;   
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}
.hexagonmed3::before {
    transform: rotate(60deg);
}
.hexagonmed3::after {
    transform: rotate(-60deg);
}

/*______5_______*/
.hexagonmed5 {
    position: absolute;
    top: 15%;
    left: 30%;    
    width:80px;
    height: 54px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);    
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 10px 10px;
    animation: rotateRight 10s infinite linear;
}
.hexagonmed5:hover{
    animation: rotateLeft 10s infinite linear; 
}
.hexagonmed5::before,
.hexagonmed5::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: inherit;   
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}
.hexagonmed5::before {
    transform: rotate(60deg);
}
.hexagonmed5::after {
    transform: rotate(-60deg);
}

/*SMALL HEXAGONS*/

.hexagonsm1 {
    position: absolute;
    top: 40%;
    left: 25%;    
    width:35px;
    height: 21px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);    
    transform: translate(-50%, -50%);
    border-radius: 2px 2px 2px 2px;
    animation: rotateRight 10s infinite linear;
}
.hexagonsm1:hover{
    animation: rotateLeft 10s infinite linear; 
}
.hexagonsm1::before,
.hexagonsm1::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: inherit;  
    position: absolute;
    border-radius: 2px 2px 2px 2px;
}
.hexagonsm1::before {
    transform: rotate(60deg);
}
.hexagonsm1::after {
    transform: rotate(-60deg);
}

/*______3_______*/
.hexagonsm3 {
    position: absolute;
    top: 55%;
    left: 5%;    
    width:35px;
    height: 21px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);    
    transform: translate(-50%, -50%);
    border-radius: 2px 2px 2px 2px;
    animation: rotateRight 10s infinite linear;
}
.hexagonsm3:hover{
    animation: rotateLeft 10s infinite linear; 
}
.hexagonsm3::before,
.hexagonsm3::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: inherit;   
    position: absolute;
    border-radius: 2px 2px 2px 2px;
}
.hexagonsm3::before {
    transform: rotate(60deg);
}
.hexagonsm3::after {
    transform: rotate(-60deg);
}

/*______5_______*/
.hexagonsm5 {
    position: absolute;
    top: 10%;
    left: 55%;    
    width:35px;
    height: 21px;
    background-image: linear-gradient(90deg, #00c9f9, #00fe2e);    
    transform: translate(-50%, -50%);
    border-radius: 2px 2px 2px 2px;
    animation: rotateRight 10s infinite linear;
}
.hexagonsm5:hover{
    animation: rotateLeft 10s infinite linear; 
}
.hexagonsm5::before,
.hexagonsm5::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: inherit;  
    position: absolute;
    border-radius: 2px 2px 2px 2px;
}
.hexagonsm5::before {
    transform: rotate(60deg);
}
.hexagonsm5::after {
    transform: rotate(-60deg);
}

/*ROTATION*/
@keyframes rotateRight {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }    
}

@keyframes rotateLeft {
    from {
       transform: rotate(359deg); 
      }
      to {
        transform: rotate(0deg);
      }    
}