* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.artwork_page {
-webkit-user-select: none; 
  background-color: rgba(12, 11, 11, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width:700px){
  .artwork_page  {
    min-height: 55vw;
  }    
}

/*GO BACK BUTTON*/
#x {
  position: relative;
  margin: auto;
  margin-right: 3%;
  top: 30px;
  width: 1.5%;
  height: 4%;
  cursor: pointer;
}

.left {
  /*left side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.right {
  /*right side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

#x:hover .left {
  transform: rotate(-45deg);
  background-color: #f07338;
}
#x:hover .right {
  transform: rotate(45deg);
  background-color: #f07338;
}
@media screen and (max-width:700px){
  #x  {
    width: 2.5%;
    top: 10px;
  }    
}