* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body{
  background-color: rgba(12, 11, 11, 1);
}
#bg{
  position: fixed;
  top: 0;
  left: 0;
  /*Preserve aspect ratio*/
  max-width: 100%;
  min-width: 100%;
  height: 56vw;

}
#level_3 {
  -webkit-user-select: none; 
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#artworkTitle {
  margin-left: 5%;
  margin-top: 1.3%;
  position: absolute;
  overflow: visible;
  width: 130px;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size:1.7vw;
  color: rgba(248, 246, 246, 1);
}
#sub_title {
  margin-left: 5%;
  margin-top: 4%;
  position: absolute;
  overflow: visible;
  width: 178px;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  color: rgba(255, 255, 255, 1);
}



#artwork_image{
  position: absolute;
  margin-top: 12%;
  margin-left: 2%;
  width: 35%;
  height: 35%;
  background-color: white;
  transform: perspective(1600px) rotateY(48deg);
}
#artwork_image span{
  position: relative;
  top: 35%;
  left: 25%;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
}

/*GO BACK BUTTON*/
#x {
  position: relative;
  margin: auto;
  margin-right: 3%;
  margin-top: 1.3%;
  width: 1.5%;
  height: 4%;
  cursor: pointer;
}

.left {
  /*left side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.right {
  /*right side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

#x:hover .left {
  transform: rotate(-45deg);
  background-color: #f07338;
}
#x:hover .right {
  transform: rotate(45deg);
  background-color: #f07338;
}

#play_btn {
  position: absolute;
  margin-top: 23%;
  margin-left: 42%;
  width: 2.7%;
  cursor: pointer;
}
#info_btn{
  position: absolute;
  margin-left: 42%;
  margin-top: 27%;
  width: 2.7%;
  cursor: pointer;
}


#left_direction{
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-top: 32%;
  width: 3%;
}

#right_direction{
  cursor: pointer;
  position: absolute;
  margin-top: 32%;
  left: 85%;
  width: 3%;
}

@media screen and (max-width:700px){
  #level_3 {
    min-height: 55vw;
  }
  #x  {
    width: 2.5%;    
  }      
}
