
/*________TITLES__________*/
.titles_container{
  /*border: 1px solid coral;*/
  position: absolute;  
  margin-top: 40%;
  margin-left: 20%;
  width:60%;
  height: 2.5vw;

}
.title_border {  
  position: absolute;
  bottom: 16%;  
  width: 20%;
  height: auto;
  justify-items: center;
  text-align: center;
}
.node_title {
  margin-left: 0;
  margin-bottom: 2%;
  color: white;
  font-family: "Titillium Web";
  line-height: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  text-shadow: 1px 1px 10px #f6ebff;
}

.titles_container #violet1, #violet2, #violet3, #violet4,
#orange1, #orange2, #orange3, #orange4,
#red1, #red2, #red3, #red4,
#green1, #green2, #green3 {
  display: none;
}

/*__________________SLIDER_____________________________*/
.slider_container{
  /*border: 1px solid rebeccapurple;*/
  position: absolute;  
  margin-top: 43%;
  margin-left: 20%;
  width:60%;
  height: 6.2vw;
}
.slider {
  position: relative;
  left: 4.7%; 
  bottom: 55%;
  padding: 7px;
  width: 90%;
  height: 6.3vw;
  overflow: visible; 
}
.slider_items {
  /*border: 1px solid red;*/
  width: 100%;
  display: table;   
  margin: 0 ;
  padding: 0;
  position: relative;  
}

ul {
  list-style-type: none;
  display: inline;
}
li {
  display: inline;
  position: relative;
  padding-left: 2%;
}

li .item img{
  align-content: center;
  width: 4vw;  
  
  padding-bottom: 0%;
  margin-bottom: 20%;
  cursor: pointer;
}

/*growing effect at the slider images*/
#node:hover {
  border: 0.2px thin #F6EBFF;  
  border-radius: 50%;
  animation: glowUp 4s ease-in-out  0.2s infinite;
}
@keyframes glowUp{
  from {box-shadow: 0 0 7px #D9D7DE;}
  50% {box-shadow: 0 0 15PX #F6EBFF;}
  to {box-shadow: 0 0 10px #D9D7DE; }
}

#glow {
  border: 0.2px thin #F6EBFF;  
  border-radius: 50%;
  animation: glowUp 4s ease-in-out  0.2s infinite;  
  
}


/*screens for slider's items*/
@media screen and (max-width: 1600px){
  .slider_container{
    width: 63%;
  }
  .titles_container{
    width: 63%;
    margin-left: 20.5%;
  }
  
}
@media screen and (max-width: 1500px){
  .titles_container{     
    margin-left: 21%;   
  }
}

@media screen and (max-width: 1000px){
  .slider_container{    
    margin-left: 12%;
    width: 75%;
  }
  .titles_container{       
    margin-left: 14%;
    width: 75%;
  }
  
  li .item img {
    width: 4.8vw;
  } 
}
@media screen and (max-width: 800px){    
  li .item img {
    width: 4.6vw;
  } 
}
@media screen and (max-width: 600px){  
  .slider_container{
    width: 78%;
    margin-top: 40%;    
  }
  .titles_container{ 
    margin-top: 38%;   
    width: 78%;
  }
  .slider{    
    bottom: 70%;
  }
  li .item img {
    width: 4.4vw;
  } 
 
}
@media screen and (max-width: 450px){     
  li .item img {
    width: 4vw;
  } 
  .titles_container{ 
    margin-top: 36.5%; 
  }
}

#greenGroup{
  padding-left: 10%;
}
#redGroup, #greenGroup, #violetGroup2 {
  display: none;
}

/*____________________________*/
.left_arrow{
  cursor: pointer;
  width: 2.7%;
  float: left;
  padding-left: 1%;
  padding-top: 1.2%;
  
}
.right_arrow{
  cursor: pointer;
  width: 2.7%;
  float: right;
  padding-right: 1%;
  padding-top: 1.2%;
  
}
