
/*Ripple effect open*/
.ripple-open {
  position: absolute;
  z-index: 10;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  overflow: hidden;
}

.ripple-open-active {
  -webkit-animation: grow 2s forwards;
  display: block;
}
@-webkit-keyframes grow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*Ripple effect open*/
.ripple-close {
  position: absolute;
  z-index: 10;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;  
  display: none;
  overflow: hidden;
}

.ripple-close {
  -webkit-animation: getsmall 2s forwards;
  display: block;
}
@-webkit-keyframes getsmall {
  100% {
    opacity: 0;
  }
  80% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  0% {
    opacity: 1;
  }
}
.ripple-close-active{
  -webkit-animation: getsmall 2s forwards;
  display: none;
}
