* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body{
  background-color: black;

}
#level_2_projects {
  -webkit-user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;  
  overflow: hidden;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  /*Preserve aspect ratio*/
  max-width: 100%;
  min-width: 100%;
  height: 52vw;
}
#CAPTURE_THE_FUTURES_OUR_BIO-TE {
  left: 25%;
  margin-top: 1.3%;
  position: absolute;
  overflow: visible;
  width: 233px;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: rgba(248, 246, 246, 1);
}

.circle {
  background-color: rgba(240, 115, 56, 1);
  position: absolute;
  border: 1px solid #ff8868;
  box-shadow: 0 0 10px #ffa297;
  width: 5%;
  height: 5vw;  
  left: 50%;  
  margin-top: 25%;
  overflow: visible;
  cursor: pointer;
  border-radius: 50%;
  animation: glowUp 4s ease-in 0s infinite;
}
@keyframes glowUp {
  from {
    box-shadow: 0 0 10px #ffa297;
  }
  50% {
    box-shadow: 0 0 48px #ff8868;
  }
  80% {
    box-shadow: 0 0 29px #f07338;
  }
  90% {
    box-shadow: 0 0 19px #f07338;
  }
  to {
    box-shadow: 0 0 10px #f07338;
  }
}

#ENTER {
  cursor: pointer;
  left: 35%;
  margin-top: 35%;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: "Titillium Web";
  font-style: normal;
  font-size: 1.2vw;
  color: white;
  animation: glow 5s ease-in 0s infinite ;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f07338, 0 0 20px #f07338, 0 0 25px #f07338, 0 0 30px #f07338, 0 0 35px #f07338;
  }  
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff8868, 0 0 40px #ff8868, 0 0 50px #ff8868, 0 0 60px #ff8868, 0 0 70px #ff8868, 0 0 80px #ff8868;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f07338, 0 0 20px #f07338, 0 0 25px #f07338, 0 0 30px #f07338, 0 0 35px #f07338;
  }
}
/*animation description*/
.description2{
  position: absolute;
  width: 18%;
  margin-top: 20%;
  left: 34%;
  height: 2vw;  
}
.description2 span{ 
  position: absolute;
  color: white;
  font-family: "Titillium Web";
  font-size: 1.5vw;
  text-shadow: 0 0 5px #fff, 0 0 10px #a09ea1, 0 0 15px #a09ea1, 0 0 20px #a09ea1;
}

#desc2_1{
  opacity: 0;
  animation: appear1 5s normal forwards ; 
}
@keyframes appear1{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#desc2_2{
  opacity: 0;
  animation: appear2 5s normal forwards ; 
}
@keyframes appear2{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/*
EXTRA INFORMATION BUTTONS
*/
#info_menu_btns {
  position: absolute;
  width: 14%;
  height: 19%;
  left: 3%;
 margin-top: 5%;
  overflow: visible;
}

#info_menu_btns li {
  width: 13vw;
  list-style-type: none;
  color: white;
  padding: 2% 0;
  font-size: 1vw;
  font-family: "Titillium Web";
  cursor: pointer;
  border-bottom: 1px solid white;
}


/*GO BACK BUTTON*/
#x {
  position: relative;
  margin: auto;
  left: 46%;
  margin-top: 1.3%;
  width: 1.5%;
  height: 4%;
  cursor: pointer;
}

.left {
  /*left side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.right {
  /*right side of x*/
  height: 6%;
  width: 100%;
  top: 40%;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

#x:hover .left {
  transform: rotate(-45deg);
  background-color: #f07338;
}
#x:hover .right {
  transform: rotate(45deg);
  background-color: #f07338;
}
#animBack{
  position: absolute;
  min-width: 100%;
  height: 50vw;
  z-index: 1000;
  background-color: black;
  display: none;
}
#animation{
  position: absolute;
  z-index: 1000;
  min-width: 100%;
  height: 50vw;    
}


@media screen and (max-width:700px){
  #level_2_projects {
    min-height: 55vw;
  } 
  #x  {
    width: 2.5%;    
  }     
}